# Flutter/Dart/Pub related
**/build/
.dart_tool/
.packages
pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies
logs/
run_and_log.sh
# Visual Studio Code
.vscode/
tmp
# Mac OS
.DS_Store
*.bak
internal_docs
.bmad-core/
.claude/
APPSTORE_SETUP.md
docs
lib/constants/avatars.dart
test/goldens/
